<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gbqq.qvgpuraqbes@tznvy.pbz</string>
	<key>contactName</key>
	<string>Todd Ditchendorf</string>
	<key>description</key>
	<string>New shiny bundle for ParseKit [http://parsekit.com].</string>
	<key>name</key>
	<string>ParseKit</string>
	<key>uuid</key>
	<string>CC33E004-8B96-4113-B95B-7E43202132E7</string>
</dict>
</plist>
